# Python

In [4]:
print("Shut the freak up! " + "Shirt's up now.")

Shut the freak up! Shirt's up now.

## Variables

In [10]:
x = int(3)
y = float(3)
z = str(3)

for a in [x, y, z]:
    print(type(a), ' -- ', a)

<class 'int'>  --  3
<class 'float'>  --  3.0
<class 'str'>  --  3

### Dictionary

In [11]:
car = {
    'brand': 'Ford',
    'model': 'Mustang',
    'year': 1964
}

In [13]:
car['model']

'Mustang'

### Mutable

Mutable objects are of type `list`, `dict`, or `set`. Custom classes are generally mutable.

In [15]:
myList = [1, 2, 3]
myList.append('Four')
myList

[1, 2, 3, 'Four']

### Immutable

Immutable objects are of in-built datatypes like `int`, `float`, `bool`, `string`, `unicode` & `tuple`. They can't be changed after it is created.

In [19]:
myTuple = (0, 1, 2)
myTuple[0] = 4
myTuple

TypeError: 'tuple' object does not support item assignment

In [22]:
cat = 'dog'
cat[2] = 't'

TypeError: 'str' object does not support item assignment

## If...Else

In [24]:
a = b = 69

if a < b:
    print("a is smaller than b.")
elif a == b:
    print("a & b are equal.")
else:
    print("a is greater than b.")

a & b are equal.

## Loop

In [1]:
cat = ['c', 'a', 't']

for i in range(3):
    print(i, ' --> ', cat[i])

0  -->  c
1  -->  a
2  -->  t

In [3]:
i = 1

while i<7:
    print(i)
    i += 1

1
2
3
4
5
6

## Functions

In [25]:
def myFunc(x, y):
    return x/y

In [28]:
myFunc(4,7)

0.5714285714285714

In [4]:
# Function with parameter & return type hint.
def myFunc2(x: float, y: float = 0.47) -> float:
    """
    Returns the product of x & y.

    Parameters:
        x (float): First number.
        y (float): Second number.

    Returns:
        x*y (float): Product of first & second number.
    """
    return x*y

In [5]:
myFunc2(4.2,)

1.974

In [6]:
help(myFunc2)

Help on function myFunc2 in module __main__:

myFunc2(x: float, y: float = 0.47) -> float
    Returns the product of x & y.

    Parameters:
        x (float): First number.
        y (float): Second number.

    Returns:
        x*y (float): Product of first & second number.

## Lambda

In [29]:
myFunc = lambda x,y: x/y

In [30]:
myFunc(4,7)

0.5714285714285714

## Classes/Objects

In [41]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age
    
    def __str__(self):
        return f"{self.name}({self.age})"
    
    def myFunc(self):
        print("Hello my name is " + self.name + ".")

In [42]:
p1 = Person("John", 47)
print(p1)

John(47)

In [43]:
p1.myFunc()

Hello my name is John.